$primary: #014c89;
$secondary: #bf206b;

.tech-logo {
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin: 1%;
}



@media screen and (min-width: 770px) {
	#socialmedia-nav {
		position: fixed;
		top: 10px;
		right: 5px;
		padding: 2px;
		background: none;
	}
}

@media screen and (max-width: 770px) {
	#socialmedia-nav {
		position: fixed;
		bottom: 0;
		padding: 2px;
		width: 100%;
		zoom: 120%;
		border-top: #014c89 solid 8px;
	}

	#main-container{
	margin-bottom: 60px;
}
}

@import 'scss/bootstrap.scss';
