$primary: #014c89;
$secondary: #bf206b;

.tech-logo {
	width: 5vw;
    max-width: 5vh;
    max-height: 5vh;
    min-width: 50px;
    min-height: 50px;
	margin: 1%;
	padding: 0.5%;
	height: 5vw;
	object-fit: contain;
    cursor: pointer;
}

@import 'scss/bootstrap.scss';
